notforrepo
.env*
.mypy*
.ipynb*
datasets.xml
*.ignore
.ignore_historical
.DS_Store
datasets_local/**
old-update-erddap.sh
merge-datasets.sh
.vscode/settings.json
.env
.env
erddap/content/datasets.xml*
erddap/data/**
tomcatLogs/**
datasets/**
!datasets/README.md