# see the .env file to set the variables used here
version: "2"
services:
  erddap:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    container_name: ${CONTAINER_NAME:-erddap}
    platform: linux/x86_64
    env_file:
      - .env
    ports:
      - "${HOST_PORT:-8090}:8080"
    volumes:
      - "./erddap/conf/robots.txt:/usr/local/tomcat/webapps/ROOT/robots.txt"
      - "./erddap/content:/usr/local/tomcat/content/erddap"
      - "./erddap/data:/erddapData"
      - "${DATASETS_DIR:-./datasets}:/datasets"
      - "./init.d:/init.d"
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:${HOST_PORT}/erddap/index.html"
        ]
      interval: 10s
