#cloufdlare_proxy settings

# turnstile secret found on cloudflare turnstile dashboard
cf_turnstile_secret=0xMYTURNSTILESECRETKEY
# to generate secret key: openssl rand -hex 128
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=HS256
# host log path for mounting proxy logs
CF_LOG_PATH=/var/log/cloudflare_proxy
#container port
CF_HOST_PORT=9988
# container to forward requests to after token validation
downstream_container=http://localhost:8090
